# Ignorar ambientes virtuais
venv/
env/
meu_ambiente_virtual/

# Ignorar arquivos compilados
__pycache__/
*.py[cod]
*.pyo

# Ignorar arquivos de log e temporários
*.log
*.tmp

# Ignorar configurações do VS Code
.vscode/

# Ignorar arquivos Jupyter checkpoints
.ipynb_checkpoints/
